:root {
  --mainColor: #080808;
  --accesntColor: #bdba0c;
}

body {
  background-color: var(--mainColor);
  min-height: 900px;
  font-family: "ubuntu", sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

section h1 {
  color: white;
  font-size: 2.5rem;
}


/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.4s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

.navbar-collapse {
  transition: .4s;
}


/* navbar */

.navbar {
  background: rgba(218, 214, 214, 0.034);
  transition: 0.9s;
}

.nav-dark {
  background-color: #080808 !important;
  z-index: 10;
  transition: 0.9s;
}

.navbar-toggler {
  transition: 0.8s !important;
}

#imglogo {
  width: 60px;
  height: 50px;
}

.facebook-icon {
  width: 28px;
  height: 33px;
  padding-top: 2px;
}

/* navbar hover */
.nav-link:hover {
  box-shadow: 0px 0 5px 0px #aca90e !important;
  padding: 7px 20px;
  text-align: center;
  transition: 0.4s;
  color: black !important;
  background-color: #e4e148;
}

.nav-link {
  transition: 0.4s;
}

/* end navbar hover */
/* end navbar */

/* section hero */
#hero {
  color: white;
  min-height: 100vh;
  background-image: url(/assets/mainbg.jpg);
  background-size: cover;
}

.btn-custom1 {
  background-color: #e4e148;
  min-width: 150px;
  height: 45px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 400ms;
}

.btn-custom1:hover {
  box-shadow: 0px 0 10px 0px #e4e148;
  padding: 0px 0px;
  text-align: center;
  transition: 400ms;
}

.sosial-icon svg {
  margin-right: 0.7em;
  margin-bottom: 10px;
}

.jumbotron {
  background-image: url(/public/assets/mainbg.jpg);
  background-size: cover;
  padding-top: -40px;
}

#aldiimg {
  opacity: 80%;
  cursor: pointer;
  transition: 400ms;
}

#aldiimg:hover {
  width: 80%;
  padding: 0px 0px;
  text-align: center;
  transition: 400ms;
}

.sosial-icon {
  margin-top: 150px;
}

.cv {
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.color-acsent {
  color: var(--accesntColor);
}

/* end hero */

/* about */

#aldiabout {
  opacity: 40%;
}

#about {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
}

#us {
  color: red;
}

p {
  color: white;
  text-align: justify;
}

/* end about */

/* footer */
#contact-us {
  background-color: #131010c2;
}

#logo-footer {
  width: 140px;
}

.btn {
  width: 200px;
  background-color: transparent;
  border-color: #e4e14877;
  transition: .6s;
}

.btn:hover {
  background-color: #e4e148;
  transition: .6s;
  color: #080808;
}

#exampleFormControlInput1, #exampleFormControlInput2, #exampleFormControlTextarea1  {
  background-color: transparent;
  border-color: #e4e14867;
  color: white;
}


@media screen and (max-width: 1200px) {
  #hero p {
    font-size: 0.9rem;
 
  }

  #about-us {
    text-align: center;
  }

  #aldiabout {
    text-align: center;
  }
  
  @media screen and (max-width: 992px) {
 
    #hero p{
      text-align: center;
    }
  }


@media screen and (max-width: 768px) {
  #hero {
    font-size: 0.5rem;
  }
  #hero p {
    text-align: center;
  }


  #aldiimg {
    width: 200px;
    margin-top: 20px;
    margin-bottom: -30px;
  }

  #about-us {
    text-align: center;
  }
  #sosial-icon {
    text-align: center;
    margin-top: 40px;
  }

}

@media screen and (max-width: 576px) {
  #hero {
    font-size: 0.5rem;
  }

  #hero p {
    text-align: center;
  }

  .sosial-icon {
    text-align: center;
  }

  #aldiimg {
    width: 200px;
    margin-top: 20px;
    margin-bottom: -30px;
  }

  #about-us {
    text-align: center;
  }

  #sosial-icon {
    text-align: center;
    margin-top: 40px;
  }
  #aldiabout {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {

 #hero p{
   font-size: 10px;
 }
 #hero h1{
   font-size: 18px;
 }
 #about-us h1 {
  font-size: 36px;
}
}